html {
  height: 100%;
}

.hidden {
  display: none;
  margin: 0;
}

h1 {
  margin: 0;
}

h4 {
  margin-block-start: 0.4rem;
  margin-block-end: 0.4rem;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 100%;
}
form {
  margin: 0;
}

#bg {
  padding: 15px;
  height: calc(100% - 30px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
/* 지금 화면 가보면 다시 3x3으로 되어 있음 */
#clock {
  margin: 0;
  color: beige;
  display: inline-block;
}
#weather {
  display: flex;
  flex-direction: column;
  color: beige;
  justify-self: end;
  text-align: right;
}

#greeting {
  display: inline-block;
  color: beige;
  font-weight: 900;
  text-align: center;
}
#login-form {
  display: block;
  position: inherit;
  text-align: center;
  align-items: start;
}
#todo-form {
  position: inherit;
  color: beige;
  text-align: center;
}
#todo-list {
  position: relative;
  list-style-type: none;
  color: beige;
  align-self: end;
  text-align: center;
}
#quote {
  position: relative;
  color: beige;
  text-align: center;
  align-items: end;
  grid-column: 1/4;
}
